*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.calculator-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#777, #eee);
    padding: 80px;
}
.calculator{
    background-color: #555;
    height: fit-content;
    width: fit-content;
    border: #555 solid 10px;
    border-radius: 10px;
}
#output{
    height: 100px;
    background-color: #004000;
    width: 100%;
    padding: 20px;
    color: #999;
    text-align: right;
    position: relative;
    border-radius: 10px;
}
.controls-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    width: fit-content;
    text-align: center;
    margin:20px 0 ;
    
}
.num {
    color:#ccc;
    font-size: 15px;
    background: linear-gradient(#333 , #444 , #333);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.num:hover{
    color: #fff;
    cursor: pointer;
    background: linear-gradient(#222 , #333 , #222);
}
#ac{
    grid-column: span 2;
}
#plus{
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}